[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Smart-Microservices/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Smart-Microservices/products-microservice.git
